body {
    margin:0;
    padding:0;
}

.upload-container {
    min-height: 77vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.info-container {
    padding:40px 0;
    min-height:35vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.navbar {
    min-height:80px;
    font-size:18px;
}

.navbar-brand {
    font-size:24px;
}

.back-btn {
    margin-bottom:15px;
}